.todo-list {
  background: black;
  max-width: 45rem;
  overflow-y: auto;
  margin: 1rem auto;
  max-height: 40vh;
  padding: 0.5em 1em;
  color: white;
  border-radius: 40px;
}

.todo {
  display: flex;
  justify-content: center;
  position: relative;
}

.todo-input {
  margin-left: -40px;
  color: saturate(#1b4a4e, 15%);
  width: 30vw;
  transition: all 0.5s / 2 linear 0.5s / 2;
}
